{% extends 'appulrico/base.html' %}

{% load static %}

{% block title %}Formulario - Agregar Estudiante{% endblock %}

{% block contenidoQueCambia %}

    <form action="{% url 'form_estudiantes' %}" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombe"></p>
        <p>Apellido: <input type="text" name="apellido"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Dni: <input type="text" name="dni"></p>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}