{% extends 'appulrico/base.html' %}

{% load static %}

{% block title %}Formulario - Agregar Profesor{% endblock title%}

{% block contenidoQueCambia %}

    <form action="{% url 'form_profesor' %}" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombe"></p>
        <p>Apellido: <input type="text" name="apellido"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Especialidad: <input type="text" name="especialidad"></p>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}

