{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'appulrico/css/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'appulrico/js/scripts.js' %}"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'cursos' %}">Cursos</a>
                <a class="navbar-brand" href="{% url 'profesores' %}">Profesores</a>
                <a class="navbar-brand" href="{% url 'estudiantes' %}">Estudiantes</a>
                <a class="navbar-brand" href="{% url 'entregables' %}">Entregables</a>
                <a class="btn btn-primary" href="#signup">Registrate</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Consulta por nuestros cursos online</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Soporte y Mentoría Personalizada</h3>
                            <p class="lead mb-0">Disponibilidad de tutores y mentores que ofrecen soporte personalizado a los estudiantes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Recursos Adicionales y Herramientas</h3>
                            <p class="lead mb-0">La plataforma ofrece recursos adicionales como e-books, webinars, y acceso a software y herramientas especializadas.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Acceso Global</h3>
                            <p class="lead mb-0">Los estudiantes pueden aprender sin importar su ubicación geográfica, facilitando el acceso a una educación de calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'appulrico/assets/img/foto.jpg' %})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Instructores Expertos</h2>
                        <p class="lead mb-0">Los cursos son impartidos por profesionales experimentados y reconocidos en la industria de la programación y el análisis de datos.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'appulrico/assets/img/bg-showcase-2.jpg' %})"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Flexibilidad de Horarios</h2>
                        <p class="lead mb-0">Los cursos están disponibles 24/7, permitiendo a los estudiantes aprender a su propio ritmo y en cualquier momento que les sea conveniente.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'appulrico/assets/img/pexels-nemuel-6424583.jpg'%})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Proyectos Prácticos y Reales</h2>
                        <p class="lead mb-0">Los cursos incluyen proyectos prácticos basados en problemas reales del mundo laboral.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Nuestros estudiantes dicen...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'appulrico/assets/img/victoria.jpg' %}" alt="..." />
                            <h5>Regina Victoria D.</h5>
                            <p class="font-weight-light mb-0">"Tomar el curso de Desarrollo Web Full Stack ha sido una de las mejores decisiones que he tomado. La plataforma es extremadamente intuitiva y los contenidos están muy bien estructurados. Los instructores son expertos en su campo y siempre están disponibles para responder preguntas y brindar apoyo. Gracias a este curso, he podido crear mis propios proyectos web y ya estoy trabajando como desarrolladora freelance. ¡Recomiendo este portal a cualquiera que quiera aprender y avanzar en su carrera tecnológica!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'appulrico/assets/img/testimonials-2.jpg' %}" alt="..." />
                            <h5>Juan M.</h5>
                            <p class="font-weight-light mb-0">"La experiencia de estudiar Marketing Digital y SEO en esta plataforma ha sido increíble. El contenido del curso es muy completo y está actualizado con las últimas tendencias y herramientas del mercado. Lo que más me gustó fue la combinación de teoría y práctica, ya que pude aplicar lo aprendido en proyectos reales. Además, el soporte y la comunidad de estudiantes son muy activos y siempre están dispuestos a ayudar. Gracias a este curso, he mejorado significativamente las estrategias de marketing de mi negocio y he visto un aumento en el tráfico y las ventas. ¡Totalmente recomendable!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'appulrico/assets/img/testimonials-3.jpg' %}" alt="..." />
                            <h5>Laura G.</h5>
                            <p class="font-weight-light mb-0">"El curso de Data Science y Análisis de Datos superó todas mis expectativas. La calidad del contenido y la pedagogía de los instructores son excepcionales. Los módulos están bien organizados y cada tema se explica de manera clara y detallada. Me encantó la forma en que los conceptos complejos se desglosan en pasos fáciles de seguir, y las tareas prácticas me ayudaron a consolidar mis conocimientos. Ahora, me siento mucho más segura en mi trabajo como analista de datos y he podido aplicar nuevas técnicas y herramientas en mis proyectos. Sin duda, esta plataforma ofrece una excelente relación calidad-precio. ¡Estoy muy agradecida por esta experiencia de aprendizaje!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Listo para empezar? Suscribite ya!</h2>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="/">Inicio</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/cursos">Cursos</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/estudiantes">Estudiantes</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/profesores">Profesores</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/entregables">Entregables</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Ulrico Schmidel 2024. Todos los derechos reservados.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
